.hpBackground{
    -fx-background-color: #fffffc;
}

.hpVBOXBtn{
    -fx-background-color: #fffffc;
}

.separator{
    -fx-background-color: #c2d9ff;
}

.hpVBOXBtn:pressed{
    -fx-background-color: #aaff99;
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}

.hpVBOXBtn:hover{
    -fx-background-color: #aaff99;
}


.resourcesBtn{
    -fx-background-color: #c2d9ff;
    -fx-text-fill: #212121;
    -fx-background-radius: 10px;
}

.resourcesBtn: hover{
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

.enlargeColorBtn{
    -fx-background-color: #aaff99;
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
    -fx-translate-z: 5px;
}

.comboBox{
    -fx-background-color: #adf8ff;
    -fx-font-family: "Lucida Sans";
    -fx-font-size: 15px;
}

