.hpBackground{
    -fx-background-color: #fffffc;
}

.hpVBOXBtn{
    -fx-background-color: #fffffc;
}

.separator{
    -fx-background-color: #c2d9ff;
}

.hpVBOXBtn:pressed{
    -fx-background-color: #aaff99;
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}

.hpVBOXBtn:hover{
    -fx-background-color: #aaff99;
}


.tasksBtn{
    -fx-background-color: #f5f5f5;
    -fx-border-color: #c2d9ff;
    -fx-border-radius: 15px;
    -fx-border-width: 3px;
    -fx-text-fill: #212121;
}

.tasksBtn: hover{
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

.titleTable{
    -fx-background-color: #adf8ff;
}

.titleRoundLeft{
    -fx-background-radius: 10px 0px 0px 0px;
}

.titleRoundRight{
    -fx-background-radius: 0px 10px 0px 0px;
}

.gridRound{
    -fx-background-radius: 10px;
    -fx-background-color: #fffffc;

}

.comboBox{
    -fx-background-color: #adf8ff;
    -fx-font-family: "Lucida Sans";
    -fx-font-size: 15px;
}

.enlargeColorBtn{
    -fx-background-color: #aaff99;
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
    -fx-translate-z: 5px;
}

.viewBtn{
    -fx-background-color: #c2d9ff;
    -fx-text-fill: #212121;
}

.viewBtn: hover{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.deleteBtn{
    -fx-background-color: #ffc2c2;
    -fx-text-fill: #212121;
}

.deleteBtn: hover{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}