:root{
/*
    --red: #ffc2c2;
    --orange: #ffe3c2;
    --yellow: #feffd6;
    --green: #ddffd6;
    --blue: #adf8ff;
    --darkBlue: #c2d9ff;
    --darkPurple: #dcd6ff;
    --purple: #ffd6ff;
    --grey: #fffffc;
    */
}